<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jerrywang.imReaderServer.register.dao.RegisterDao">

    <insert id="save">
      insert into IR_USERS (UUID, OPEN_ID, USER_NAME) values (#{uuid}, #{openId}, #{nickname});
    </insert>


</mapper>
